@media (max-width: 1200px) {
  .navbar {
    margin-top: 5px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 40px;
    height: auto;
  }

  .navbar-brand {
    margin: 0;
  }

  .nav-logo {
    width: 0px;
    height: 0px;
    display: none;
  }

  .all-chakras {
    height: 600px;
  }

  .chakra {
    height: 560px;
  }

  .card-ball {
    display: none;
  }

  .element-link {
    margin: 20px;
  }

  .element-bg {
    opacity: 1;
  }

  .fire {
    filter: hue-rotate(220deg);
    border: 0px solid;
  }

  .earth {
    filter: hue-rotate(320deg);
    border: 0px solid;
  }

  .wind {
    filter: hue-rotate(90deg);
    border: 0px solid;
  }

  .water {
    filter: hue-rotate(40deg);
    border: 0px solid;
  }

  .elements {
    margin-bottom: 40px;
  }

  .wish {
    font-size: 14px;
    width: 130px;
  }

  /*  */

  .zodiac {
    width: 120px;
    height: 120px;
    margin: 15px 10px;
    font-size: 10.5px;
  }

  .zodiac-header-bg {
    font-size: 20px;
    opacity: 0.5;
  }

  .planet-header-bg {
    opacity: 0.5;
  }
}

@media (max-width: 1000px) {
  .nav-link {
    font-size: 16px;
  }

  .swiper-header {
    font-size: 36px;
  }

  .planet-img {
    width: 100px;
    height: 100px;
  }
  .planet {
    width: 100px;
    margin: 8px;
  }
  .planet-title {
    font-size: smaller;
  }
  .zodiac {
    width: 94px;
    height: 94px;
    margin: 10px auto;
    font-size: 10.5px;
  }

  .footer-destination,
  .footer-number {
    font-size: 20px;
  }
}
